<%- include('partials/header'); -%>
<form  method="POST">
    <h1>Change Password</h1>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="New Password" required>
    </div>
    <div>
        <label for="confirmpassword" >Confirm Password</label>
        <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirm New Password" required>
    </div>
    <button type="submit" class="btn">change password</button>
</form>
<%- include('partials/footer'); -%>